:root {
  /* Color */
  --color-white: #ffffff;
  --color-black: #282828;
  --color-navy: #212c35;

  /* Font-size */
  --font-xxlarge: 11rem;
  --font-xlarge: 4.5rem;
  --font-large: 3.5rem;
  --font-medium: 2.5rem;
  --font-semi-medium: 1.6rem;
  --font-regular: 1rem;
  --font-small: 0.9rem;
  --font-xsmall: 0.725rem;

  /* Font-weight */
  --weight-bold: 700;
  --weight-regular: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  top: -9999px;
  left: -9999px;
  z-index: -1;
  width: 1px;
  height: 1px;
  overflow: hidden;
  visibility: hidden;
}

#container {
  width: 100%;
  max-height: 100vh;
  min-height: 100vh;
  height: calc(100%);
  font-family: "Jaldi", sans-serif;
  color: var(--color-white);
  background: center / cover no-repeat url(../assets/todo_bg.jpg);
  overflow: hidden;
}

#container.todoPage {
  overflow: visible;
}

@keyframes vibration {
  from {
    left: -2px;
  }
  to {
    left: 2px;
  }
}

/*Question*/
.before-question .question {
  opacity: 1;
  z-index: 2;
}

.question {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: -1;
}

.question-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-white);
  transform: translateY(20%);
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.question-content.completion {
  opacity: 0;
}

.label--question {
  margin-bottom: 0.1em;
  font-size: var(--font-xlarge);
  font-weight: var(--weight-bold);
  text-align: center;
  line-height: 1.25em;
  word-break: keep-all;
}

.inputText {
  width: 100%;
  border-bottom: 3px solid var(--color-white);
  padding: 20px 0 10px;
  text-align: center;
  color: var(--color-white);
}

#input--question {
  min-width: 11.5em;
  width: min-content;
  margin-bottom: 20px;
  font-size: var(--font-large);
}

.question-tip {
  margin-bottom: 20px;
  font-size: var(--font-semi-medium);
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.question-tip.active {
  opacity: 1;
}

.continue-btn {
  border: 1px solid var(--color-white);
  border-radius: 30px;
  padding: 10px;
  font-size: var(--font-regular);
  color: var(--color-white);
  text-transform: uppercase;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.continue-btn:hover {
  background: rgba(255, 255, 255, 0.2);
}

.before-question .todo-main {
  z-index: -1;
  opacity: 0;
}
.todo-main {
  color: var(--color-white);
  opacity: 1;
  visibility: visible;
  z-index: 2;

  transition: opacity 0.5s ease-in-out, visibility 0s;
}

.todoPage .todo-main {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0s ease-in-out 0.5s;
}

/* Todo Section*/

.todo-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  height: max-content;
  padding: 1em;
  padding-bottom: 3em;
  background: center / contain repeat url(../assets/todo_bg.jpg);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0s ease-in-out 0.5s;
}

.todoPage .todo-list {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-in-out, visibility 0s;
}

.back-btn {
  width: 35px;
  height: 35px;
  background: center / cover no-repeat url(../assets/back-btn.png);
  cursor: pointer;
}

.todo-list__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 1em;
  width: 100%;
  padding: 15px 0;
}

.todo-list__list__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 15px;
  font-family: "Hi Melody", cursive;
  font-size: var(--font-semi-medium);
  color: var(--color-white);
  text-align: center;
  line-height: 1.5em;
  word-break: keep-all;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.todo-list__list__item span {
  width: 100%;
  word-wrap: break-word;
}

.modify span {
  opacity: 0;
}

.todo-toggle {
  position: absolute;
  bottom: -50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 40px;
  border-radius: 50px;
  padding: 5px;
  background-color: var(--color-white);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0s ease 0.5s;
  cursor: default;
}

.todo-toggle.show {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease, visibility 0s ease;
}
.todo-toggle::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 20%;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent var(--color-white) transparent;
}

.button {
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}
.todo-toggle .button {
  width: 25px;
  height: 25px;
}
.button:hover {
  opacity: 0.7;
}

.memo-clearBtn {
  background: center / cover no-repeat url(../assets/memo-clear.png);
}

.memo-modifyBtn {
  background: center / cover no-repeat url(../assets/memo-update.png);
}

.memo-delBtn {
  background: center / cover no-repeat url(../assets/memo-delete.png);
}

.clearToDo {
  text-decoration: line-through;
}

/*Main Section*/

/* Header */
#header {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1em;
  font-family: "Hi Melody", cursive;
  z-index: 2;
}

.header-left {
}

.todo-btn {
  padding: 0;
  font-size: var(--font-semi-medium);
  font-weight: var(--weight-bold);
  cursor: pointer;
}

.header-right {
}
.weatherInfo {
  display: flex;
  flex-direction: column;
}
.weatherInfo__weather {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  margin-bottom: 3px;
  padding: 0 5px;
  font-size: var(--font-semi-medium);
  background: center / cover no-repeat url(../assets/sticker/sticker_orange.png);
}

.weather__category {
  font-size: var(--font-regular);
}

.weather__content {
  display: flex;
}

.weather__icon {
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 3px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(1.2) translateY(-1px);
}

.temperature {
  line-height: 1.2;
}

.temperature::after {
  font-size: var(--font-semi-medium);
  content: "℃";
}

.weatherInfo__local {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  height: 34px;
  padding: 0 5px;
  font-size: var(--font-semi-medium);
  letter-spacing: 0.05em;
  background: center / cover no-repeat url(../assets/sticker/sticker_green.png);
}

/* Main */
#main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.todo-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
}

.inputToDo {
  position: absolute;
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: var(--font-semi-medium);
  font-family: "Hi Melody", cursive;
  color: var(--color-white);
}

.clock {
  font-size: var(--font-xxlarge);
}
.greeting {
  margin-bottom: 0.6em;
  font-size: var(--font-large);
  text-align: center;
  word-break: keep-all;
}

.todo-input-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.todo-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.5em;
  font-size: var(--font-medium);
}
.label-todo {
  text-align: center;
}

#input--todo {
  font-size: var(--font-semi-medium);
}

.todo-tip {
  font-size: var(--font-semi-medium);
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.todo-tip.active {
  opacity: 1;
}

/* Footer */
#footer {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1em;
}

.footer-bottom {
  width: 100%;
  padding: 0.5em;
}

.footer-bottom__content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;

  width: max-content;
  height: 100%;
  margin: 0 auto;
}

.footer-bottom__content:hover .wise-saying {
  transform: translateY(-70%);
}

.footer-bottom__content:hover .copyright {
  transform: translateY(70%);
  opacity: 1;
}

.wise-saying {
  display: block;
  width: max-content;
  font-weight: var(--weight-bold);
  text-align: center;
  line-height: 1.2;
  word-break: keep-all;
  transition: transform 0.3s ease;
}

.copyright {
  position: absolute;
  top: 0;
  text-align: center;
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.5s ease;
}

.feed-back {
  position: absolute;
  bottom: 0.8em;
  right: 0.8em;
}

.feed-back__btn {
  width: 25px;
  height: 25px;
  background: center / contain no-repeat url(../assets/heart-icon.png);
  cursor: pointer;
}

.complete.feed-back__btn {
  background: center / contain no-repeat url(../assets/heart-fill-icon.png);
}

.feed-back__modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 19rem;
  height: 19rem;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-in-out, visibility 0s ease 0.3s;
}

.modal-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  padding: 0.9em 1.2em;
  background-color: var(--color-navy);
}

.modal-wrap.error {
  animation: vibration 0.1s 4 linear alternate;
}

.feed-back__modal.show {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out, visibility 0s ease;
}

.feed-back__title {
  font-size: var(--font-semi-medium);
  font-weight: var(--weight-bold);
  transition: color 0.3s linear;
}

.feed-back__evaluation {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-bottom: 0.6em;
}

.evaluation-score {
  display: flex;
  height: 5rem;
  padding: 0 1.5em;
}

.evaluation-score__item {
  width: 3rem;
  padding: 0.8em 0;
}

.feed-back-tip {
  position: relative;
  top: -10px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.feed-back-tip.active {
  opacity: 1;
}

.eval-btn {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.eval-btn {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.eval-btn[data-eval="best"] {
  background-image: url(../assets/feed-back/evaluation_best.png);
}

.eval-btn[data-eval="good"] {
  background-image: url(../assets/feed-back/evaluation_good.png);
}

.eval-btn[data-eval="soso"] {
  background-image: url(../assets/feed-back/evaluation_soso.png);
}

.eval-btn[data-eval="bad"] {
  background-image: url(../assets/feed-back/evaluation_bad.png);
}

.eval-btn[data-eval="worst"] {
  background-image: url(../assets/feed-back/evaluation_worst.png);
}

.textarea {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: none;
  padding: 5px;
  font-family: "Hi Melody", cursive;
  font-size: var(--font-semi-medium);
  resize: none;
  overflow: hidden;
}

.button-wrap {
  display: flex;
  justify-content: center;
}

.submit-btn {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  background: center / cover no-repeat url(../assets/feed-back/feed-submit.png);
  cursor: pointer;
}
.cancle-btn {
  width: 25px;
  height: 25px;
  background: center / cover no-repeat url(../assets/feed-back/feed-cancle.png);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .question-content {
    padding: 0 0.5em;
    word-spacing: 0.05em;
  }

  .label--question {
    font-size: var(--font-medium);
  }

  #input--question {
    min-width: auto;
    width: 80%;
  }

  .todo-list {
    padding: 0.5em;
    padding-bottom: 3rem;
  }

  .todo-wrap {
    margin-top: 0;
  }

  #header {
    padding: 0.5em;
  }

  .greeting {
    margin-bottom: 0;
    font-size: var(--font-medium);
  }

  .todo-input {
    margin-bottom: 0.1em;
  }

  .label-todo {
    font-size: var(--font-semi-medium);
  }

  .todo-tip {
    font-size: var(--font-semi-medium);
  }

  #footer {
    padding: 0.5em;
  }

  .eval-btn {
    background-size: contain;
  }

  .evaluation-score__item {
    padding: 0;
  }
}

@media screen and (orientation: landscape) and (max-width: 768px) {
  .clock {
    font-size: 9rem;
  }

  .greeting {
    font-size: var(--font-semi-medium);
  }

  .todo-wrap {
    padding: 0;
  }

  .label-todo {
    margin-bottom: 0.3em;
  }

  #input--todo {
    padding: 0.1em;
  }

  .todo-tip {
    font-size: var(--font-regular);
  }
}
