:root {
  /* Color */
  --color-white: #ffffff;
  --color-black: #282828;

  /* Font-size */
  --font-xxlarge: 11rem;
  --font-xlarge: 4.5rem;
  --font-large: 3.5rem;
  --font-medium: 2.5rem;
  --font-semi-medium: 1.6rem;
  --font-regular: 1rem;
  --font-small: 0.9rem;
  --font-xsmall: 0.725rem;

  /* Font-weight */
  --weight-bold: 700;
  --weight-regular: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Jaldi", sans-serif;
  background: center / cover no-repeat url(../assets/todo_bg.jpg);
}

.sr-only {
  position: absolute;
  top: -9999px;
  left: -9999px;
  z-index: -1;
  width: 1px;
  height: 1px;
  overflow: hidden;
  visibility: hidden;
}

.before-question .question {
  opacity: 1;
  z-index: 2;
}

.question {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: -1;
}

.question-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-white);
  transform: translateY(20%);
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.question-content.completion {
  opacity: 0;
}

.label--question {
  margin-bottom: 0.1em;
  font-size: var(--font-xlarge);
  font-weight: var(--weight-bold);
}

.inputText {
  width: 100%;
  border-bottom: 3px solid var(--color-white);
  padding: 20px 0 10px;
  text-align: center;
  color: var(--color-white);
}

#input--question {
  min-width: 11.5em;
  width: min-content;
  margin-bottom: 20px;
  font-size: var(--font-large);
}

.question-tip {
  margin-bottom: 20px;
  font-size: var(--font-semi-medium);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.question-tip.active {
  opacity: 1;
}

.continue-btn {
  border: 1px solid var(--color-white);
  border-radius: 30px;
  padding: 10px;
  font-size: var(--font-regular);
  color: var(--color-white);
  text-transform: uppercase;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.continue-btn:hover {
  background: rgba(255, 255, 255, 0.2);
}

.before-question .container {
  z-index: -1;
  opacity: 0;
}
.container {
  color: var(--color-white);
  opacity: 1;
  z-index: 2;
  transition: opacity 0.5s ease-in-out;
}

/* Header */
#header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  font-family: "Hi Melody", cursive;
}

.weatherInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.weatherInfo__weather {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  margin-bottom: 3px;
  padding: 0 5px;
  font-size: var(--font-semi-medium);
  background: center / cover no-repeat url(../assets/sticker/sticker_orange.png);
}

.weather__category {
  font-size: var(--font-regular);
}

.weather__content {
  display: flex;
}

.weather__icon {
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 3px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(1.2) translateY(-1px);
}

.temperature {
  line-height: 1.2;
}

.temperature::after {
  font-size: var(--font-semi-medium);
  content: "℃";
}

.weatherInfo__local {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  height: 34px;
  padding: 0 5px;
  font-size: var(--font-semi-medium);
  letter-spacing: 0.05em;
  background: center / cover no-repeat url(../assets/sticker/sticker_green.png);
}
/* Main */
#main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.todo-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  z-index: 2;
}

.todo-list__list {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 150px));
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 10px;
  width: 100%;
  padding: 15px;
  padding-right: 160px;
}

.todo-list__list__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px;
  font-family: "Hi Melody", cursive;
  font-size: var(--font-semi-medium);
  text-align: center;
  line-height: 1.5em;
  word-break: keep-all;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.todo-list__list__item span {
  overflow: hidden;
}

.modify span {
  opacity: 0;
}

.todo-toggle {
  position: absolute;
  bottom: -50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 40px;
  border-radius: 50px;
  padding: 5px;
  background-color: var(--color-white);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0s ease 0.2s;
  cursor: default;
}

.todo-toggle::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 20%;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent var(--color-white) transparent;
}

.todo-toggle.show {
  opacity: 1;
  visibility: visible;
}

.button {
  width: 25px;
  height: 25px;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}
.button:hover {
  opacity: 0.7;
}

.memo-clearBtn {
  background: center / cover no-repeat url(../assets/memo-clear.png);
}

.memo-modifyBtn {
  background: center / cover no-repeat url(../assets/memo-update.png);
}

.memo-delBtn {
  background: center / cover no-repeat url(../assets/memo-delete.png);
}

.clearToDo {
  text-decoration: line-through;
}

.inputToDo {
  position: absolute;
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: var(--font-semi-medium);
  font-family: "Hi Melody", cursive;
  color: var(--color-white);
}

.clock {
  font-size: var(--font-xxlarge);
}
.greeting {
  margin-bottom: 0.6em;
  font-size: var(--font-large);
  text-align: center;
}

.todo-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-input-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  font-size: var(--font-medium);
}

#input--todo {
  font-size: var(--font-semi-medium);
}

.todo-tip {
  font-size: var(--font-semi-medium);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.todo-tip.active {
  opacity: 1;
}
/* Footer */
#footer {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  padding: 20px;
}

.wise-saying {
  width: 100%;
  padding-left: 30px;
  font-weight: var(--weight-bold);
  text-align: center;
}
